.root {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  width: auto;
  position: relative;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 14px);
  height: calc(100% + 14px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 14px;
}
.freeBox__s7YKp {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  max-width: 100%;
  background: var(--token-k9PjRBkf0VWi);
  align-self: center;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 8px;
  border: 0px none var(--token-k9PjRBkf0VWi);
}
.svg__iNElN {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-Tbhm67MfVhPp);
  align-self: center;
  position: absolute;
  left: 13px;
  top: 13px;
}
.freeBox__k9J9G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__zbypg {
  padding-bottom: 0px;
  text-align: center;
  font-size: 18px;
  color: var(--token-PPVQBgADwFoY);
}
