.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__kyYe {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  box-shadow: 0px 4px 16px 0px #00000021;
  min-width: 0;
  padding: 0px;
}
.freeBox__kyYe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__kyYe > :global(.__wab_flex-container) > *,
.freeBox__kyYe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kyYe > :global(.__wab_flex-container) > picture > img,
.freeBox__kyYe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyYe {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: 0px 4px 16px 0px #00000021;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyYe > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyYe > :global(.__wab_flex-container) > *,
  .freeBox__kyYe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kyYe > :global(.__wab_flex-container) > picture > img,
  .freeBox__kyYe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__dbOx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
.freeBox__dbOx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dbOx > :global(.__wab_flex-container) > *,
.freeBox__dbOx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dbOx > :global(.__wab_flex-container) > picture > img,
.freeBox__dbOx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dbOx {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dbOx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dbOx > :global(.__wab_flex-container) > *,
  .freeBox__dbOx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dbOx > :global(.__wab_flex-container) > picture > img,
  .freeBox__dbOx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 16px;
  }
}
.link__z883I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-PPVQBgADwFoY);
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.freeBox__dXyvl {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__dXyvl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__dXyvl > :global(.__wab_flex-container) > *,
.freeBox__dXyvl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dXyvl > :global(.__wab_flex-container) > picture > img,
.freeBox__dXyvl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dXyvl {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dXyvl > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dXyvl > :global(.__wab_flex-container) > *,
  .freeBox__dXyvl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dXyvl > :global(.__wab_flex-container) > picture > img,
  .freeBox__dXyvl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.link__eyDzD {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link__eyDzD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__eyDzD > :global(.__wab_flex-container) > *,
.link__eyDzD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__eyDzD > :global(.__wab_flex-container) > picture > img,
.link__eyDzD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__v0Raj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__lOTf {
  color: var(--token-PPVQBgADwFoY);
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-left: 0px;
}
.svg__sycm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__ykqnT {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link__ykqnT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ykqnT > :global(.__wab_flex-container) > *,
.link__ykqnT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ykqnT > :global(.__wab_flex-container) > picture > img,
.link__ykqnT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__tiiFc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__uCpPx {
  color: var(--token-PPVQBgADwFoY);
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.svg__wi1M0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__fTx4 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link__fTx4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__fTx4 > :global(.__wab_flex-container) > *,
.link__fTx4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__fTx4 > :global(.__wab_flex-container) > picture > img,
.link__fTx4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__yMJo3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__llJm4 {
  color: var(--token-PPVQBgADwFoY);
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.svg__qRxSk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__cg3Tt {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link__cg3Tt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__cg3Tt > :global(.__wab_flex-container) > *,
.link__cg3Tt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__cg3Tt > :global(.__wab_flex-container) > picture > img,
.link__cg3Tt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__tjzS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__jy55K {
  color: var(--token-PPVQBgADwFoY);
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  flex-direction: row;
  border-radius: 6px;
  padding: 4px 0px;
  border: 1px solid transparent;
}
.text__jy55K > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.text__jy55K > :global(.__wab_flex-container) > *,
.text__jy55K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text__jy55K > :global(.__wab_flex-container) > picture > img,
.text__jy55K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__jy55K {
  color: var(--token-PPVQBgADwFoY);
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 4px 0px;
  border: 1px solid transparent;
}
.svg__ijMts {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox___2Naxk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2Naxk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___2Naxk > :global(.__wab_flex-container) > *,
.freeBox___2Naxk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Naxk > :global(.__wab_flex-container) > picture > img,
.freeBox___2Naxk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Naxk {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Naxk > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Naxk > :global(.__wab_flex-container) > *,
  .freeBox___2Naxk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2Naxk > :global(.__wab_flex-container) > picture > img,
  .freeBox___2Naxk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.link__kdnc8 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 0px;
  border: 1px solid transparent;
}
.link__kdnc8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__kdnc8 > :global(.__wab_flex-container) > *,
.link__kdnc8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__kdnc8 > :global(.__wab_flex-container) > picture > img,
.link__kdnc8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__rgHf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__kDyfH {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__kDyfH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kDyfH > :global(.__wab_flex-container) > *,
.freeBox__kDyfH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kDyfH > :global(.__wab_flex-container) > picture > img,
.freeBox__kDyfH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__thac1 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-PPVQBgADwFoY);
  flex-shrink: 0;
  display: none;
}
.svg__ssoQe {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-PPVQBgADwFoY);
  flex-shrink: 0;
  display: none;
}
.svg__lbf0X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__fsXzG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link__iX5Iw {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__iX5Iw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__iX5Iw > :global(.__wab_flex-container) > *,
.link__iX5Iw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__iX5Iw > :global(.__wab_flex-container) > picture > img,
.link__iX5Iw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ukGt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__loedG {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__sL9Xj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
