.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.link__oyhZf {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  max-width: none;
  align-self: center;
  background: var(--token-PPVQBgADwFoY);
  color: var(--token-k9PjRBkf0VWi);
  min-width: 0;
  padding: 8px;
}
.link__oyhZf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.link__oyhZf > :global(.__wab_flex-container) > *,
.link__oyhZf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__oyhZf > :global(.__wab_flex-container) > picture > img,
.link__oyhZf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oyhZf {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oyhZf > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__eGNeC {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.freeBox__eGNeC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__eGNeC > :global(.__wab_flex-container) > *,
.freeBox__eGNeC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eGNeC > :global(.__wab_flex-container) > picture > img,
.freeBox__eGNeC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eGNeC {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eGNeC > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eGNeC > :global(.__wab_flex-container) > *,
  .freeBox__eGNeC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eGNeC > :global(.__wab_flex-container) > picture > img,
  .freeBox__eGNeC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__o22Mz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__o22Mz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__o22Mz > :global(.__wab_flex-container) > *,
.freeBox__o22Mz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o22Mz > :global(.__wab_flex-container) > picture > img,
.freeBox__o22Mz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o22Mz > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o22Mz > :global(.__wab_flex-container) > *,
  .freeBox__o22Mz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__o22Mz > :global(.__wab_flex-container) > picture > img,
  .freeBox__o22Mz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.text__oBhYk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: center;
  min-width: 0;
}
.freeBox__cwSyo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__ms8G {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link__cewyq {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__cewyq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__cewyq > :global(.__wab_flex-container) > *,
.link__cewyq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__cewyq > :global(.__wab_flex-container) > picture > img,
.link__cewyq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___2BIzO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__qs64 {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__aaUIh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__atTpk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 64px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__atTpk {
    padding-top: 50px;
  }
}
.freeBox___5JKVq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__hCllz {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.freeBox__hCllz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__hCllz > :global(.__wab_flex-container) > *,
.freeBox__hCllz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hCllz > :global(.__wab_flex-container) > picture > img,
.freeBox__hCllz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hCllz {
    padding-bottom: 0px;
  }
}
.freeBox__aHAzc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__aHAzc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__aHAzc > :global(.__wab_flex-container) > *,
.freeBox__aHAzc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aHAzc > :global(.__wab_flex-container) > picture > img,
.freeBox__aHAzc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h2__yCarP {
  text-align: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__yCarP {
    text-align: center;
  }
}
.text__q0XOi {
  padding-bottom: 0px;
  text-align: center;
  font-size: 16px;
  width: 100%;
  color: var(--token-PPVQBgADwFoY);
  margin-top: calc(0px + 10px) !important;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__q0XOi {
    margin-top: calc(0px + 10px) !important;
  }
}
.columns__shSo9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__shSo9 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__shSo9 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__shSo9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__shSo9 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ufaD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8rem 5rem;
}
.column__ufaD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__ufaD > :global(.__wab_flex-container) > *,
.column__ufaD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ufaD > :global(.__wab_flex-container) > picture > img,
.column__ufaD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ufaD {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 50px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ufaD > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ufaD > :global(.__wab_flex-container) > *,
  .column__ufaD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__ufaD > :global(.__wab_flex-container) > picture > img,
  .column__ufaD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.h2__cMkc {
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__cMkc {
    text-align: center;
  }
}
.text___5Oq6S {
  padding-bottom: 0px;
  text-align: left;
  font-size: 16px;
  width: 100%;
  color: var(--token-PPVQBgADwFoY);
  margin-top: calc(0px + 24px) !important;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5Oq6S {
    margin-top: calc(0px + 24px) !important;
  }
}
.link__tjAzs {
  position: relative;
  font-weight: 600;
  text-decoration-line: none;
  text-transform: capitalize;
  align-self: flex-start;
  border-bottom: 1px solid var(--token-PPVQBgADwFoY);
}
.column__nZUe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 2px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nZUe {
    padding-right: 0px;
  }
}
.img__g2Din {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__g2Din > picture > img {
  object-fit: cover;
}
.freeBox__yCxAc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__rgY0V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
.columns__g1ZOi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__g1ZOi > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__g1ZOi > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__g1ZOi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__g1ZOi > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__liQdW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 2px 1px 0px 0px;
}
.img__vEiaJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  min-width: 0;
  min-height: 0;
}
.img__vEiaJ > picture > img {
  object-fit: cover;
}
.column__oMsHa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8rem 5rem;
}
.column__oMsHa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__oMsHa > :global(.__wab_flex-container) > *,
.column__oMsHa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__oMsHa > :global(.__wab_flex-container) > picture > img,
.column__oMsHa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__oMsHa {
    padding: 50px;
  }
}
.h2__tNcgx {
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__tNcgx {
    text-align: center;
  }
}
.text__gXmbK {
  padding-bottom: 0px;
  text-align: left;
  font-size: 16px;
  width: 100%;
  color: var(--token-PPVQBgADwFoY);
  margin-top: calc(0px + 24px) !important;
  margin-bottom: 0px;
  min-width: 0;
}
.link__uw8K {
  position: relative;
  font-weight: 600;
  text-decoration-line: none;
  text-transform: capitalize;
  align-self: flex-start;
  border-bottom: 1px solid var(--token-PPVQBgADwFoY);
}
.freeBox__einkf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 64px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__einkf {
    padding-bottom: 50px;
    padding-top: 0px;
  }
}
.freeBox__xlOe9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__xlOe9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__xlOe9 > :global(.__wab_flex-container) > *,
.freeBox__xlOe9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xlOe9 > :global(.__wab_flex-container) > picture > img,
.freeBox__xlOe9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__a5Zv2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}
.freeBox__a5Zv2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__a5Zv2 > :global(.__wab_flex-container) > *,
.freeBox__a5Zv2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a5Zv2 > :global(.__wab_flex-container) > picture > img,
.freeBox__a5Zv2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox___5AL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__ynQz {
  text-align: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__ynQz {
    text-align: center;
  }
}
.text___6PqWh {
  padding-bottom: 0px;
  text-align: center;
  font-size: 16px;
  width: 100%;
  color: var(--token-PPVQBgADwFoY);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__dvwU9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__szuHd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__szuHd {
    height: 100%;
    min-height: 0;
  }
}
.columns__aCoq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__aCoq > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__aCoq > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aCoq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aCoq > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zcEej {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 2px 0px 0px;
}
.img__zoCtj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zoCtj > picture > img {
  object-fit: cover;
}
.column__xBFjJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 2px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xBFjJ {
    padding-right: 0px;
    padding-top: 0px;
  }
}
.img__tb1Nq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__tb1Nq > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tb1Nq {
    padding-right: 0px;
  }
}
.freeBox__zU8Zu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: #090602;
  min-width: 0;
  padding: 64px 40px 10px;
}
.freeBox__zU8Zu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__zU8Zu > :global(.__wab_flex-container) > *,
.freeBox__zU8Zu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zU8Zu > :global(.__wab_flex-container) > picture > img,
.freeBox__zU8Zu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zU8Zu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: #090602;
    min-width: 0;
    padding: 64px 40px 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zU8Zu > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zU8Zu > :global(.__wab_flex-container) > *,
  .freeBox__zU8Zu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zU8Zu > :global(.__wab_flex-container) > picture > img,
  .freeBox__zU8Zu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__wleD1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  padding-right: 40px;
  padding-left: 40px;
  min-width: 0;
}
.freeBox__wleD1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wleD1 > :global(.__wab_flex-container) > *,
.freeBox__wleD1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wleD1 > :global(.__wab_flex-container) > picture > img,
.freeBox__wleD1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wleD1 {
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    padding-right: 0px;
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wleD1 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wleD1 > :global(.__wab_flex-container) > *,
  .freeBox__wleD1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wleD1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__wleD1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 16px;
  }
}
.freeBox___2IOkc {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 280px;
  flex-shrink: 0;
}
.freeBox___2IOkc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___2IOkc > :global(.__wab_flex-container) > *,
.freeBox___2IOkc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2IOkc > :global(.__wab_flex-container) > picture > img,
.freeBox___2IOkc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2IOkc {
    align-self: flex-start;
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
    width: 280px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2IOkc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2IOkc > :global(.__wab_flex-container) > *,
  .freeBox___2IOkc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2IOkc > :global(.__wab_flex-container) > picture > img,
  .freeBox___2IOkc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__sEvCp {
  display: flex;
  position: relative;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sEvCp {
    align-self: flex-start;
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
.text__e9Nhn {
  width: 100%;
  max-width: 800px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--token-zrSiXlPuma_0);
  text-align: left;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e9Nhn {
    align-self: flex-start;
    width: 100%;
    max-width: 800px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--token-zrSiXlPuma_0);
    text-align: left;
    margin-bottom: 0px;
    min-width: 0;
  }
}
.link__wjCib {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-zrSiXlPuma_0);
  font-weight: 600;
  text-transform: capitalize;
  text-decoration-line: none;
  border-bottom: 1px none var(--token-PPVQBgADwFoY);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__wjCib {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    font-size: 20px;
    color: var(--token-zrSiXlPuma_0);
  }
}
.link__uf1I {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-zrSiXlPuma_0);
  font-weight: 600;
  text-transform: capitalize;
  text-decoration-line: none;
  border-bottom: 1px none var(--token-PPVQBgADwFoY);
}
.freeBox__yHvM2 {
  display: flex;
  position: relative;
  width: 280px;
  left: auto;
  top: auto;
  flex-direction: column;
  height: 126px;
  flex-shrink: 0;
}
.freeBox__yHvM2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__yHvM2 > :global(.__wab_flex-container) > *,
.freeBox__yHvM2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yHvM2 > :global(.__wab_flex-container) > picture > img,
.freeBox__yHvM2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yHvM2 {
    align-self: flex-start;
    display: flex;
    position: relative;
    width: 280px;
    left: auto;
    top: auto;
    flex-direction: column;
    height: 126px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yHvM2 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yHvM2 > :global(.__wab_flex-container) > *,
  .freeBox__yHvM2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yHvM2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__yHvM2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
._3 {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-zrSiXlPuma_0);
  text-transform: capitalize;
}
@media (min-width: 0px) and (max-width: 768px) {
  ._3 {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    font-size: 20px;
    color: var(--token-zrSiXlPuma_0);
  }
}
.link__phknP {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-zrSiXlPuma_0);
  text-transform: capitalize;
}
.link__lvPbf {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-zrSiXlPuma_0);
  text-transform: capitalize;
}
.link__uyXvw {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-zrSiXlPuma_0);
  text-transform: capitalize;
}
.freeBox__nKzw {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  height: 118px;
  align-self: center;
  min-width: 0;
}
.freeBox__nKzw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__nKzw > :global(.__wab_flex-container) > *,
.freeBox__nKzw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nKzw > :global(.__wab_flex-container) > picture > img,
.freeBox__nKzw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nKzw {
    align-self: flex-start;
    height: 80px;
    display: flex;
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
    flex-direction: column;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nKzw > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nKzw > :global(.__wab_flex-container) > *,
  .freeBox__nKzw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nKzw > :global(.__wab_flex-container) > picture > img,
  .freeBox__nKzw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text___3XG31 {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--token-zrSiXlPuma_0);
  text-align: left;
  margin-bottom: 0px;
  margin-left: 133px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3XG31 {
    margin-left: calc(0px + 0px) !important;
    align-self: flex-start;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--token-zrSiXlPuma_0);
    text-align: left;
    margin-bottom: 0px;
    min-width: 0;
  }
}
.freeBox__naMi1 {
  display: block;
  position: relative;
  width: 280px;
  height: 80px;
  max-width: 100%;
  background: none;
  align-self: flex-end;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__naMi1 {
    align-self: flex-start;
    background: none;
    height: 60px;
    display: block;
    position: relative;
    width: 280px;
    max-width: 100%;
    flex-shrink: 0;
    padding: 8px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: auto;
  width: 262px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput:global(.__wab_instance) {
    width: 252px;
    max-width: 100%;
    position: absolute;
    left: 0px;
    top: auto;
  }
}
.svg__aKjnb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__wUDd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__pxyx7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xxMqz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__wsgCv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__qlcvb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__qlcvb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qlcvb > :global(.__wab_flex-container) > *,
.freeBox__qlcvb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qlcvb > :global(.__wab_flex-container) > picture > img,
.freeBox__qlcvb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qlcvb {
    position: relative;
    flex-direction: row;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qlcvb > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qlcvb > :global(.__wab_flex-container) > *,
  .freeBox__qlcvb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qlcvb > :global(.__wab_flex-container) > picture > img,
  .freeBox__qlcvb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.link__pWetn {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 0px;
  border: 1px solid transparent;
}
.link__pWetn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__pWetn > :global(.__wab_flex-container) > *,
.link__pWetn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__pWetn > :global(.__wab_flex-container) > picture > img,
.link__pWetn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__g9Lfv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__tAs1 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__tAs1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tAs1 > :global(.__wab_flex-container) > *,
.freeBox__tAs1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tAs1 > :global(.__wab_flex-container) > picture > img,
.freeBox__tAs1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tAs1 {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tAs1 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tAs1 > :global(.__wab_flex-container) > *,
  .freeBox__tAs1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tAs1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__tAs1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.svg__yJ3Ct {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__yJ3Ct {
    object-fit: cover;
    width: 24px;
    height: 24px;
    color: #05050599;
    flex-shrink: 0;
  }
}
.svg___8WC8 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.svg__bFl9G {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bFl9G {
    object-fit: cover;
    width: 24px;
    height: 24px;
    color: #05050599;
    flex-shrink: 0;
  }
}
.svg__xjD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__lhKUy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button___8TKfu {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link___8CeIw {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___8CeIw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___8CeIw > :global(.__wab_flex-container) > *,
.link___8CeIw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___8CeIw > :global(.__wab_flex-container) > picture > img,
.link___8CeIw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__eZgvS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__kzDk6 {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg___4L3Sq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__hw8B8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1200px;
  border-top-style: solid;
  border-top-width: 1px;
  min-width: 0;
  padding: 8px 8px 0px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hw8B8 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 1200px;
    border-top-style: solid;
    border-top-width: 1px;
    min-width: 0;
    padding: 8px 0px 0px;
  }
}
.freeBox__sLhq {
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__sLhq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__sLhq > :global(.__wab_flex-container) > *,
.freeBox__sLhq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sLhq > :global(.__wab_flex-container) > picture > img,
.freeBox__sLhq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sLhq {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sLhq > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sLhq > :global(.__wab_flex-container) > *,
  .freeBox__sLhq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sLhq > :global(.__wab_flex-container) > picture > img,
  .freeBox__sLhq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 5px;
  }
}
.freeBox___0CTpD {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  height: auto;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox___0CTpD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0CTpD > :global(.__wab_flex-container) > *,
.freeBox___0CTpD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0CTpD > :global(.__wab_flex-container) > picture > img,
.freeBox___0CTpD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0CTpD {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    height: auto;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0CTpD > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0CTpD > :global(.__wab_flex-container) > *,
  .freeBox___0CTpD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0CTpD > :global(.__wab_flex-container) > picture > img,
  .freeBox___0CTpD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox___9ULo7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  align-self: flex-start;
  padding: 8px 8px 1px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9ULo7 {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: auto;
    height: auto;
    align-self: flex-start;
    padding: 8px 8px 1px 0px;
  }
}
.text__wrDyY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wrDyY {
    font-size: 11px;
    position: relative;
    width: auto;
    height: auto;
    max-width: 800px;
    text-align: left;
  }
}
.freeBox__tbNpc {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox__tbNpc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tbNpc > :global(.__wab_flex-container) > *,
.freeBox__tbNpc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tbNpc > :global(.__wab_flex-container) > picture > img,
.freeBox__tbNpc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tbNpc {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tbNpc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tbNpc > :global(.__wab_flex-container) > *,
  .freeBox__tbNpc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tbNpc > :global(.__wab_flex-container) > picture > img,
  .freeBox__tbNpc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__tfrCc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__tfrCc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tfrCc > :global(.__wab_flex-container) > *,
.freeBox__tfrCc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tfrCc > :global(.__wab_flex-container) > picture > img,
.freeBox__tfrCc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tfrCc {
    width: auto;
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tfrCc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tfrCc > :global(.__wab_flex-container) > *,
  .freeBox__tfrCc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tfrCc > :global(.__wab_flex-container) > picture > img,
  .freeBox__tfrCc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__gpAai {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  height: auto;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox__gpAai > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gpAai > :global(.__wab_flex-container) > *,
.freeBox__gpAai > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gpAai > :global(.__wab_flex-container) > picture > img,
.freeBox__gpAai
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gpAai {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    height: auto;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gpAai > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gpAai > :global(.__wab_flex-container) > *,
  .freeBox__gpAai > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gpAai > :global(.__wab_flex-container) > picture > img,
  .freeBox__gpAai
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__fDhJ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fDhJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fDhJ > :global(.__wab_flex-container) > *,
.freeBox__fDhJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fDhJ > :global(.__wab_flex-container) > picture > img,
.freeBox__fDhJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fDhJ {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fDhJ > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fDhJ > :global(.__wab_flex-container) > *,
  .freeBox__fDhJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fDhJ > :global(.__wab_flex-container) > picture > img,
  .freeBox__fDhJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.link___6H6R2 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link___6H6R2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___6H6R2 > :global(.__wab_flex-container) > *,
.link___6H6R2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___6H6R2 > :global(.__wab_flex-container) > picture > img,
.link___6H6R2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___6H6R2 {
    align-self: flex-start;
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.5s;
    border-radius: 6px;
    padding: 4px 10px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___6H6R2 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___6H6R2 > :global(.__wab_flex-container) > *,
  .link___6H6R2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link___6H6R2 > :global(.__wab_flex-container) > picture > img,
  .link___6H6R2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg___6RIZm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__fuaiL {
  color: var(--token-zrSiXlPuma_0);
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fuaiL {
    color: var(--token-zrSiXlPuma_0);
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-right: 0px;
  }
}
.svg___8X6B4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__p2Cym {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 0px;
  border: 1px solid transparent;
}
.link__p2Cym > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__p2Cym > :global(.__wab_flex-container) > *,
.link__p2Cym > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__p2Cym > :global(.__wab_flex-container) > picture > img,
.link__p2Cym
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__p2Cym {
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.5s;
    border-radius: 6px;
    padding: 4px 0px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__p2Cym > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__p2Cym > :global(.__wab_flex-container) > *,
  .link__p2Cym > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__p2Cym > :global(.__wab_flex-container) > picture > img,
  .link__p2Cym
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg__v9Ix {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.svg___6P2Ei {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__vaVTz {
  color: var(--token-zrSiXlPuma_0);
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vaVTz {
    color: var(--token-zrSiXlPuma_0);
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-right: 0px;
  }
}
.link__yVwu {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link__yVwu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__yVwu > :global(.__wab_flex-container) > *,
.link__yVwu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__yVwu > :global(.__wab_flex-container) > picture > img,
.link__yVwu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yVwu {
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.5s;
    border-radius: 6px;
    padding: 4px 10px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yVwu > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yVwu > :global(.__wab_flex-container) > *,
  .link__yVwu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__yVwu > :global(.__wab_flex-container) > picture > img,
  .link__yVwu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg___15VUe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__oe86U {
  color: var(--token-zrSiXlPuma_0);
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oe86U {
    color: var(--token-zrSiXlPuma_0);
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-right: 0px;
  }
}
.svg___8Og6Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
